$lime: #c0fb10;

body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: default;
}

a:visited {
  color: #4b5461;
}

body {

  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
  overflow-x: hidden;
  font-family: HelveticaNeue;
}

.container {
  margin: 0 auto;
}

.calendar {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 25px;

  &__title {
    font-size: 25px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__pageName {
    text-transform: uppercase;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 1px solid lime;
  font-weight: 700;
  text-decoration: none;
  font-family: HelveticaNeue;
}

.button-container button {
  width: 200px;
  height: 20px;
  margin: 10px;
  border: 1px solid;
  background-color: transparent;
  font-weight: 700;
  text-decoration: none;
  font-family: HelveticaNeue;
}

label {
  display: flex;
  flex-direction: column;
}

form {
  padding: 15px;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf);
}
