ul {
  li {
    margin: 0;
  }
}

//.calendar-wrap {
//  position: relative;
//  width: 100%;
//  padding: 50% 0;
//}
//
//.day {
//  width: 500px;
//  height: 100%;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

.react-datepicker__month-container {
  width: 77%;
}

@media (min-width: 460px) {
  .react-datepicker__month-container {
    width: auto;
  }
}