/* stylelint-disable */
.test {
  margin: 0; }

.radioANDbuttons {
  display: flex;
  justify-content: center;
  line-height: 35px;
}

.add_and_history nav ul li a{
  width: 0;
  padding: 0;

}

.position-radio-buttons {
  display: flex;
  width: 200px;
  flex-direction: column;
  color: lightslategrey;
}

.position-radio-buttons li input:checked + li {
  color: red; }

.positionComments {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.positionComments li {
  margin-bottom: 20px;
  text-align: center; }
/* stylelint-enable */