/* stylelint-disable */
.test {
  margin: 0; }

.radioANDbuttons {
  display: flex;
  justify-content: center;
  line-height: 35px;
}

.add_and_history nav ul li a{
  width: 0;
  padding: 0;

}

.radioANDbuttons {
  display: flex;
  justify-content: center;
  line-height: 35px;
}

.add_and_history nav ul li a {
  width: 0;
  padding: 0;

}

.position-radio-buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: lightslategrey;
}

.position-radio-buttons li input:checked + li {
  color: red; }

.flex_comment {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background-color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: -webkit-auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
}

.comment {

}

.comment h3 {
  height: 15px;
  color: #4b5461;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.07;
  font-stretch: normal;
}

.comment h5 {
  height: 12px;
  color: #9b9b9b;
  font-family: HelveticaNeue;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  font-stretch: normal;
}

.comment h4 {
  height: 15px;
  color: #4b5461;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.07;
  font-stretch: normal;
}

.positionComments {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.positionComments li {
  margin-bottom: 20px;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;

}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf);
}

/* stylelint-enable */