:root {
  --duration: .75s;
  --container-size: 100px;
  --box-size: 20px;
  --box-border-radius: 15%;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.load {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-size);
  position: relative;
}

.load__item {
  display: block;
  position: relative;
  width: var(--box-size);
  height: var(--box-size);
  transform-origin: -50% center;
  border-radius: var(--box-border-radius);
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    right: 0;
    border-radius: var(--box-border-radius);
    background-color: lightblue;
    box-shadow: 0 0 10px 0 rgba(#1c9fff, .4);
  }

  &:nth-child(1) {
    animation: slide var(--duration) ease-in-out infinite alternate;

    &:after {
      animation: color-change var(--duration) ease-in-out infinite alternate;
    }
  }
  @for $i from 1 to 3 {
    &:nth-child(#{$i + 1}) {
      animation: flip-#{$i} var(--duration) ease-in-out infinite alternate;
      &:after {
        animation: squidge-#{$i} var(--duration) ease-in-out infinite alternate;
      }
    }
  }

  &:nth-child(2):after {
    background-color: #fff176;
  }
  &:nth-child(3):after {
    background-color: #b99cfb;
  }

}

/* stylelint-disable */
@keyframes slide {
  0% {
    background-color: #ff06d1;
    transform: translatex(0vw);
  }
  100% {
    background-color: #c0fb10;
    transform: translatex(calc(var(--container-size) - (var(--box-size) * 1)));
  }
}

/* stylelint-enable */

@keyframes color-change {
  0% {
    background-color: #6c7cff;
  }
  100% {
    background-color: #3ffb29;
  }
}

@for $i from 1 to 3 {
  @keyframes flip-#{$i} {
  0%, #{$i * 15}%
{
  transform: rotate(0);
}
  #{$i * 15 + 20}%,
  100% {
    transform: rotate(-180deg);
  }
}

  /* stylelint-disable */

@keyframes squidge-#{$i}
{
#{$i * 15 - 10}% {
transform-origin:center bottom;
transform:scalex(1) scaley(1);
}
#{$i * 15}% {
transform-origin:center bottom;
transform:scalex(1.3) scaley(0.7);
}
#{$i * 15 + 10}%, #{$i * 15 + 5}% {
transform-origin:center bottom;
transform:scalex(0.8) scaley(1.4);
}
#{$i * 15 + 40}%, 100% {
transform-origin:center top;
transform:scalex(1) scaley(1);
}
#{$i * 15 + 25}% {
transform-origin:center top;
transform:scalex(1.3) scaley(0.7);
}
}
}

/* stylelint-enable */
