.profile_column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 20px;
}

.profile_title {
  //max-height: 20px;
}

.profile_title h1 {
  padding: 3px;
  color: #727375;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.profile_data{
  padding: 3px;
  color: #727375;
  font-size: 18px;
  font-weight: bold;
  text-transform: inherit;
}

.profile{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_photo {
  width: 150px;
  border-radius: 12px;
}

.profile_info {
  display: grid;
  padding: 11px;
  border: solid 2px #b4b8bd;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 315px;
}

.profile_name{
  display: flex;
border: transparent;
}

.profile_info p {
  color: #4b5461;
  font-family: HelveticaNeue;
  font-style: normal;
}

.profile_info input {
  margin: 7px;
  border: transparent;
  border-bottom: solid 2px #7ff4a9;
  border-radius: 5px;
  color: #4b5461;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: .8;
  text-align: center;
  font-stretch: normal;
}

.button_save {
  padding: 14px 20px;
  border-radius: 5px;
  background-color: #7ff4a9;
  color: #fff;
  font-family: HelveticaNeue, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

}
.button_save a{
  color: #4b5461;
}