.profile_column{
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile_title{
  //max-height: 20px;
}

.profile_title h1{
  color: #727375;
  padding: 3px;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.profile_img{
  margin-top: 35px;
}

.user_photo{
  width: 150px;
  border-radius: 12px;
}

.profile_info{
  margin-top: 20px;
  max-width: 200px;
  margin-bottom: 25px;
  border: solid 2px #b4b8bd;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile_info p{
  color: #4b5461;
  font-family: HelveticaNeue;
  font-style: normal;
}

.profile_info input{
  margin: 7px;
  border: transparent;
  border-bottom: solid 2px #7ff4a9;
  color: #4b5461;
  border-radius: 5px;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: .8;
  text-align: center;
  font-stretch: normal;
}

.button_save{
  padding: 14px 20px;
  border-radius: 5px;
  background-color: #7ff4a9;
  color: #fff;
  font-family: HelveticaNeue, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}