.floors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
